@import 'scss/variables.scss';
@import 'scss/utilities/functions';

.text-button {
  font-size: to-rem(20);
  font-weight: 500;
  color: $gray50;
  cursor: pointer;
  &:hover {
    color: $gray100;
  }
}
