@use 'scss/utilities/functions';
@use 'scss/variables';

.side-navigation {
  $_this: &;

  background-color: variables.$gray100;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: flex-end;
  position: fixed;
  transition: width 200ms ease;
  width: functions.to-rem(50);

  @media screen and (max-width: 768px) {
    bottom: 0;
    flex-direction: row;
    height: functions.to-rem(60);
    justify-content: center;
    width: 100vw;
    z-index: 1;
  }

  &:hover {
    width: functions.to-rem(150);

    @media screen and (max-width: 768px) {
      width: 100vw;
    }

    #{$_this}__button-text {
      color: variables.$white;
      display: block;
      padding-left: functions.to-rem(16);

      @media screen and (max-width: 768px) {
        display: none;
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    height: 70%;
    list-style: none;
    margin: 0;
    padding: 0;

    @media screen and (max-width: 768px) {
      flex-direction: row;
      height: 100%;
      justify-content: space-around;
      width: 70%;
    }
  }

  &__item {
    display: flex;
    margin: functions.to-rem(8);

    @media screen and (max-width: 768px) {
      margin: 0;
    }

    &:last-child {
      margin-top: auto;

      @media screen and (max-width: 768px) {
        margin-top: 0;
      }
    }
  }

  &__button {
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;

    &-icon {
      color: variables.$gray50;
      min-width: functions.to-rem(30);
    }

    &-text {
      display: none;
    }
  }
}
