@use 'scss/utilities/functions';
@use 'scss/variables';

@mixin button-main($background-color) {
  background-color: variables.$black-no-opacity;
  border: 1px solid variables.$gray100;
  color: variables.$text-color;
  cursor: pointer;
  font-size: functions.to-rem(16);
  font-weight: 700;
  letter-spacing: functions.to-rem(1);
  outline: 0;
  padding: functions.to-rem(13) functions.to-rem(50) functions.to-rem(13);
  position: relative;
  touch-action: manipulation;
  user-select: none;

  &::after {
    background-color: $background-color;
    content: '';
    height: 100%;
    left: functions.to-rem(7);
    position: absolute;
    top: functions.to-rem(7);
    transition: 0.2s;
    width: 100%;
    z-index: -1;
  }

  &:hover::after {
    left: 0;
    top: 0;
  }

  &:focus-visible::after {
    left: 0;
    top: 0;
  }

  @media screen and (max-width: 768px) {
    padding: functions.to-rem(13) functions.to-rem(20) functions.to-rem(13);

    &:focus::after {
      left: functions.to-rem(7);
      top: functions.to-rem(7);
    }
  }
}
