@import 'scss/utilities/functions';
@import 'scss/variables';

@mixin button-secondary {
  background-color: $white;
  border: 2px solid $green25;
  border-radius: 4px;
  color: $green100;
  font-weight: 600;
  height: to-rem(42);
  min-width: to-rem(115);
  padding: to-rem(9) to-rem(24);
  text-align: center;

  &:hover {
    background-color: $green25;
  }
}
