@use 'scss/utilities/functions';
@use 'scss/variables';

@mixin button-primary {
  background-color: variables.$green75;
  border: none;
  border-radius: 4px;
  color: variables.$white;
  font-weight: 600;
  height: functions.to-rem(42);
  min-width: functions.to-rem(115);
  padding: functions.to-rem(9) functions.to-rem(24);
  text-align: center;
  width: fit-content;

  &:hover {
    background-color: variables.$green100;
  }
}
