@use 'scss/utilities/functions';
@use 'scss/variables';

@mixin button-secondary {
  background-color: variables.$white;
  border: 2px solid variables.$green25;
  border-radius: 4px;
  color: variables.$green100;
  font-weight: 600;
  height: functions.to-rem(42);
  min-width: functions.to-rem(115);
  padding: functions.to-rem(9) functions.to-rem(24);
  text-align: center;

  &:hover {
    background-color: variables.$green25;
  }
}
