@import 'Scss/variables.scss';
@import 'Scss/utilities/functions';

.vertical-navigation {
  &__button {
    background-color: $white;
    padding: to-rem(8) to-rem(12) to-rem(8) to-rem(10);
    width: to-rem(100);
    height: to-rem(42);
    border-radius: 4px;
    border: none;
    font-size: to-rem(14);
    color: $gray50;
    font-weight: 600;

    &:hover {
      background-color: $gray10;
      color: $gray75;
    }

    &:active {
      background-color: $green5;
      color: $green75;
    }
  }
}
