@import '../../scss/variables.scss';
@import '../../scss/utilities/functions/index.scss';

* {
  margin: 0;
  padding: 0;
}

.App {
  min-height: 85vh;
  height: fit-content;
  width: 90vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: to-rem(16);
}

.button-main {
  color: $text-color;
  font-size: to-rem(16);
  font-weight: 700;
  letter-spacing: to-rem(1);
  padding: to-rem(13) to-rem(20) to-rem(13);
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-main:after {
  content: '';
  background-color: $main-color;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: to-rem(7);
  left: to-rem(7);
  transition: 0.2s;
}

.button-main:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .button-main {
    padding: to-rem(13) to-rem(50) to-rem(13);
  }
}

.button-filter {
  background: $main-color;
  font-family: inherit;
  padding: to-rem(5) to-rem(5);
  font-weight: 400;
  font-size: to-rem(18);
  /* border: 3px solid black; */
  border-radius: to-rem(7);
  box-shadow: 0.01em 0.01em;
  margin: to-rem(8);
}

.button-filter:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.05em 0.05em;
}

.button-filter:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}

.seach-input {
  background: $main-color;
  color: black;
  font-family: inherit;
  width: to-rem(112);
  padding: 0.3em 0.3em;
  font-size: to-rem(18);
  border-radius: to-rem(7);
  box-shadow: 0.01em 0.01em;
  margin: to-rem(8);
}

.seach-input:focus {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.05em 0.05em;
}

.seach-input::placeholder {
  color: black;
  font-weight: 400;
}

/* Added new contract btn */

.button-contract {
  align-items: center;
  background-color: $main-color;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: to-rem(4);
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, 'Helvetica Neue', Helvetica,
    Arial, sans-serif;
  font-size: to-rem(16);
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: to-rem(48);
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-contract:hover,
.button-contract:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 to-rem(4) to-rem(12);
  color: rgba(0, 0, 0, 0.65);
}

.button-contract:hover {
  transform: translateY(to-rem(-1));
}

.button-contract:active {
  background-color: #f0f0f1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 to-rem(2) to-rem(4);
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.buttons--container button:first-child {
  border: 3px solid rgb(50, 186, 38);
}
.buttons--container button:last-child {
  border: 3px solid rgb(200, 37, 37);
}
