@import 'scss/variables.scss';
@import 'scss/utilities/functions/index.scss';

* {
  margin: 0;
  padding: 0;
}

.App {
  min-height: 100vh;
  height: fit-content;
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: to-rem(16);
  margin-left: to-rem(80);

  @media screen and (max-width: 768px) {
    margin-left: 0;
    margin-bottom: to-rem(80);
  }
}
