:root {
  --main-color: #cfe1b9;
}

* {
  margin: 0;
  padding: 0;
}

.App {
  min-height: 85vh;
  height: fit-content;
  width: 90vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.btnsDiv {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  width: 70%;
  margin-bottom: 2rem;
}

.btn {
  color: #495057;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn:after {
  content: '';
  background-color: var(--main-color);
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.btn:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .btn {
    padding: 13px 50px 13px;
  }
}

.filterBtn {
  background: var(--main-color);
  font-family: inherit;
  padding: 0.3em 0.3em;
  font-weight: 400;
  font-size: 18px;
  /* border: 3px solid black; */
  border-radius: 0.4em;
  box-shadow: 0.01em 0.01em;
  margin: 0.5rem;
}

.filterBtn:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.05em 0.05em;
}

.filterBtn:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}

.seachInput {
  background: var(--main-color);
  color: black;
  font-family: inherit;
  width: 7rem;
  padding: 0.3em 0.3em;
  font-size: 18px;
  border-radius: 0.4em;
  box-shadow: 0.01em 0.01em;
  margin: 0.5rem;
}

.seachInput:focus {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.05em 0.05em;
}

.seachInput::placeholder {
  color: black;
  font-weight: 400;
}

/* Added new contract btn */

.button-contract {
  align-items: center;
  background-color: var(--main-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, 'Helvetica Neue', Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-contract:hover,
.button-contract:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.button-contract:hover {
  transform: translateY(-1px);
}

.button-contract:active {
  background-color: #f0f0f1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.buttons--container button:first-child {
  border: 3px solid rgb(50, 186, 38);
}
.buttons--container button:last-child {
  border: 3px solid rgb(200, 37, 37);
}
