@use 'scss/utilities/mixins';
@use 'scss/utilities/functions';
@use 'scss/variables';

.contract {
  &__container {
    @include mixins.flex-box(column, center, center);

    height: 70vh;
    text-align: center;
  }

  &__error-text {
    color: variables.$red75;
  }

  &__text-container {
    margin-bottom: functions.to-rem(48);
  }

  &__name {
    color: variables.$blue100;
  }

  &__button {
    @include mixins.button-primary;
  }
}
