@import 'Scss/utilities/mixins';
@import 'Scss/utilities/functions';
@import 'Scss/variables.scss';

.contract {
  &__container {
    @include flex-box(column, center, center);
    height: 70vh;
    text-align: center;
  }

  &__error-text {
    color: $red75;
  }

  &__text-container {
    margin-bottom: to-rem(48);
  }

  &__name {
    color: $blue100;
  }

  &__button {
    @include button-primary;
  }
}
