@import 'scss/utilities/mixins/';
@import 'scss/utilities/functions';
@import 'scss/variables';

.use-instruction {
  @include flex-box(column, center, center);

  &__header {
    margin-bottom: to-rem(48);
  }

  &__button-container {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  // getting first arrow
  & > :nth-child(3) {
    margin: to-rem(16) 0 0 0;
  }

  &__arrow {
    margin: to-rem(16);
  }

  &__paragraph {
    text-align: center;
    width: 75%;
  }

  &__text-input {
    font-weight: 700;
    height: to-rem(32);
    text-align: center;
    width: 40%;

    @media screen and (max-width: 768px) {
      width: 80%;
    }
  }

  &__button {
    @include button-main($green25);
  }
}
