@import 'scss/utilities/mixins/';
@import 'scss/utilities/functions';
@import 'scss/variables.scss';

.use-instruction {
  @include flex-box(column, center, center);

  &__header {
    margin-bottom: to-rem(48);
  }

  &__button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  // getting first arrow
  & > :nth-child(3) {
    margin: to-rem(16) 0 0 0;
  }

  &__arrow {
    margin: to-rem(16);
  }

  &__paragraph {
    width: 75%;
    text-align: center;
  }

  &__text-input {
    height: to-rem(32);
    width: 40%;
    text-align: center;
    font-weight: 700;
  }

  &__button {
    @include button-main;

    &::after {
      background-color: $green25;
    }
  }
}
