@import 'scss/utilities/mixins';
@import 'scss/utilities/functions';
@import 'scss/variables';

.confirm-contract {
  &__error {
    color: $red75;
  }

  &__buttons-container {
    margin-top: to-rem(16);
    @include flex-box($justify-content: space-evenly);

    & > :first-child {
      border: 3px solid $green75;
    }

    & > :last-child {
      border: 3px solid $red75;

      &:hover {
        background-color: $red25;
      }
    }
  }

  &__button {
    @include button-secondary;
  }
}
