@use 'scss/utilities/mixins';
@use 'scss/utilities/functions';
@use 'scss/variables';

.confirm-contract {
  &__error {
    color: variables.$red75;
  }

  &__buttons-container {
    margin-top: functions.to-rem(16);
    @include mixins.flex-box($justify-content: space-evenly);

    & > :first-child {
      border: 3px solid variables.$green75;
    }

    & > :last-child {
      border: 3px solid variables.$red75;

      &:hover {
        background-color: variables.$red25;
      }
    }
  }

  &__button {
    @include mixins.button-secondary;
  }
}
