@import 'scss/utilities/mixins';
@import 'scss/utilities/functions';
@import 'scss/variables.scss';

.header {
  &__container {
    @include flex-box(row, space-around, center);
    border-bottom: 1px solid black;
    width: 90%;
    min-height: 10vh;
  }
}
