@import 'Scss/utilities/mixins';
@import 'Scss/utilities/functions';
@import 'Scss/variables.scss';

.search {
  &__container {
    @include flex-box($align-items: center);
  }
  &__input {
    width: to-rem(100);
    height: to-rem(38);
    font-size: to-rem(16);
    padding: 0 0.3em;
    border-radius: 4px;
    border: 2px solid $gray15;

    &::placeholder {
      color: $gray15;
    }

    &:hover {
      border-color: $gray25;
      &::placeholder {
        color: $gray25;
      }
    }

    &:focus {
      outline: none;
      border-color: $green75;
      &::placeholder {
        color: $green75;
      }
    }
  }
}
