.App {
  min-height: 85vh;
  height: fit-content;
  width: 90vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.btnsDiv {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  width: 70%;
  margin-bottom: 2rem;
}

.btn {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn:after {
  content: "";
  background-color: #ffe54c;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.btn:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .btn {
    padding: 13px 50px 13px;
  }
}

.filterBtn {
  background: #ffe54c;
  font-family: inherit;
  padding: 0.3em 0.3em;
  font-weight: 500;
  font-size: 18px;
  /* border: 3px solid black; */
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
  margin: 0.5rem;
}

.filterBtn:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
}

.filterBtn:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}

.seachInput {
  background: #ffe54c;
  color: black;
  font-family: inherit;
  width: 7rem;
  padding: 0.3em 0.3em;
  font-weight: 500;
  font-size: 18px;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
  margin: 0.5rem;
}

.seachInput:focus {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
}

.seachInput::placeholder {
  color: black;
  font-weight: 500;
}
