$main-color: #cfe1b9;
$secondary-color: #d5d0cd;
$text-color: #495057;

$white: #fff;

$gray10: #e9eaec;
$gray15: #d1d5db;
$gray25: #a9b1bc;
$gray50: #6d7178;
$gray75: #464b53;
$gray100: #162219;

$green5: #e4f1ec;
$green25: #c3e0d4;
$green75: #00ad6f;
$green100: #067950;

$blue5: #eff6ff;
$blue75: #2563eb;
$blue100: #1a49b2;

$red5: #fef2f2;
$red75: #dc2626;
$red100: #a82424;
